/* Mobile & table*/
@media (max-width: 1023px) {
  .header {
    justify-content: space-between;
  }
  .header__logo {
    margin: 0 0 0 30px;
    width: 90px;
    border-radius: 4px;
    height: 60px;
    object-fit: cover;
  }
  .overlay {
    display: none;
    position: fixed;
    animation: fadeIn linear 0.4s;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeInMoblie linear 0.3s;
  }
  .nav {
    opacity: 0;
    transition: all linear 0.3s;
    transform: translateX(-100%);
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 90%;
    background-color: #ffff;
  }
  .bars {
    display: block;
  }
  .bars:hover {
    cursor: pointer;
  }
  .bars > i {
    padding: 10px;
    margin-right: 20px;
    font-size: 3rem;
    color: #ffff;
  }
  .nav_list {
    flex-direction: column;
  }
  .nav_header {
    padding-left: 20px;
    margin: 0;
    height: 70px;
    background-color: #277cfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 20px;
  }
  .nav_header_title {
    color: #ffffff;
    font-weight: 500;
    font-size: 3rem;
  }
  .nav_close:hover {
    cursor: pointer;
  }
  .nav_close > i {
    font-size: 2.4rem;
    padding: 4px;
    color: #ffffff;
  }
  .nav_item {
    padding: 5px;
    margin: 4px 0 4px 16px;
  }
  .nav_item:first-child {
    margin: 37px 0 5px 16px;
  }
  .nav_item > a {
    color: #666666;
  }
  .dots {
    bottom: 20px;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
  .app_title {
    text-align: center;
    line-height: 3.2rem;
    font-weight: 600;
    font-size: 3rem;
  }
  .app_link_store {
    display: grid;
    justify-content: center;
  }
  .app_link_store > a > img {
    margin: 0;
    width: 180px;
    height: 60px;
    object-fit: cover;
  }
  .choose_title {
    font-size: 2.8rem;
  }
  .choose_description {
    font-size: 1.5rem;
  }
  .choose_card {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;
  }
  .choose_card_item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 226px;
    background: #ffffff;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
    border-radius: 15px;
  }
  .choose_card_item > span {
    margin-top: 40px;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #000000;
  }
  .choose_card {
    justify-content: center;
  }
  .about_title {
    font-size: 3rem;
  }

  .Feedback_card_item {
    margin-top: 18px;
  }
  .app_link_store > a > img:first-child {
    margin: 0;
  }
  @keyframes fadeInMoblie {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
/* table */
@media (min-width: 740px) and (max-width: 1023px) {
  .video {
    max-width: 900px;
    max-height: 450px;
  }
  .app_img {
    max-width: 300px;
  }
  .app_title {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
  }

  .client_app_title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 2.4rem;
  }
  .client_app_content > img {
    max-width: 200px;
    height: 400px;
  }
  .client_app_item {
    display: flex;
    justify-content: flex-start;
  }
  .client_app_item_wrap > h3 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
  .client_app_item_wrap > p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 361px;
  }
  .number {
    line-height: 1.9rem;
    width: 22px;
    height: 22px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .choose_card_item {
    margin-top: 12px;
    margin-right: 12px;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .businesses_img > img {
    min-width: 200px;
    min-height: 260px;
    object-fit: cover;
  }
  .contact_descrption {
    font-size: 1.2rem;
  }
  .contact_content {
    margin: 0 60px 100px 60px;
  }
  .contact_info > input {
    font-size: 1.2rem;
    padding: 20px 10px;
    width: 240px;
    height: 50px;
  }
  .contact_info > button {
    width: 100px;
    height: 50px;
  }
  .contact_title {
    font-size: 2.2rem;
    margin-left: 60px;
  }
  .Feedback_card {
    justify-content: center;
  }
  .Feedback_card_item {
    margin-right: 30px;
  }
  .footer_body {
    flex-wrap: wrap;
  }
}
/* Mobile*/
@media (max-width: 739px) {
  .video {
    max-width: 100%;
    max-height: 210px;
    padding: 0;
  }
  .apps {
    flex-direction: column;
  }
  .app_img {
    max-width: 250px;
    margin: 0;
  }
  .app_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .app_detail {
    text-align: center;
  }
  .client_app_content {
    flex-direction: column;
  }
  .client_app_title {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
  .client_app_content > img {
    max-width: 250px;
    height: 350px;
  }
  .client_app_detail {
    margin-top: 40px;
  }
  .choose_card_item {
    margin: 30px;
  }
  .choose_card_item {
    margin-top: 12px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about {
    flex-direction: column;
  }
  .action {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .about_card_list {
    margin-top: 16px;
  }
  .about_title {
    margin-bottom: 12px;
  }
  .businesses_img {
    flex-direction: column;
  }
  .businesses_img > img:nth-child(2) {
    margin: 16px 0;
  }
  .businesses_img > img {
    max-width: 320px;
    min-height: 220px;
    object-fit: cover;
  }
  .Feedback_card {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .Feedback_card_item {
    margin-right: 0;
  }
  .contact{
    display: grid;
  }
  .contact_content {
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
  }
  .contact_info {
    margin-top: 24px;
  }
  .contact_title {
    text-align: center;
    margin-left: 0;
    font-size: 2.2rem;
  }
  .contact_descrption {
    text-align: center;
    margin: 0 12px;
  }
  .contact_info > input {
    font-size: 1.2rem;
    padding: 20px 10px;
    max-width: 180px;
  }
  .contact_info > button {
    max-width: 80px;
  }
  .footer_content_item {
    margin-right: 0;
  }
  .footer_info_item {
    padding-left: 0;
  }
  .footer_body {
    flex-direction: column;
  }
  .footer_content {
    flex-direction: column;
  }
}
